/* Google Fonts import*/
@import url(https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap);

/* == General == */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* == navbar ==*/


/* == Backgrounds == */

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    background:
        url('../images/faded-background.jpg') center center / cover no-repeat,
        rgba(0, 0, 0, 0.6); /* Solid color underlay */
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

/* == Layout == */

h1 {
    text-align: center;
    background: #000000;
    padding: 3px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    display: block;
}

main {
    flex-grow: 1;
    overflow: hidden;
}

.intro-text {
    background: #000000;
    color: white;
    font-size:  0.75em;
}

#container {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1.30svh;
    right: 0%;
}

/* == Header == */

header {
    width: 50%;
    background-color: #000000;
}
/* == Logo == */

.logo {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding-left: 25px;
    padding-top: 25px;
    margin-top: 10px;
}

.logo a {
    text-decoration: none;
    color: white;
}

/* == Footer == */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: 0.5rem 1rem;
    background-color: #000000;
    border-top: 1px solid #fff;
    z-index: 3;
}

.note-div {
    width: 200px;
    height: 100px;
    position: fixed;
}
/* == Home & Quiz == */

.welcome-hidden {
    display: none;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
}

.welcome-image {
    width: 60%;
    height: auto;
    max-width: 100%;
}

.intro-container {
    background-color: #000000;
}

/* == Game Area == */

#game-area {
    color :#fff;
    align-content: center;
    flex-direction: column;
    margin: 1.5rem auto;
}

#game-area div {
    text-align: center;
}

#game-area h2 {
    color: white;
    background-color: #000000;
    padding: 10px;
    font-size: 1em;
}

.intro-text {
    background-color: #000000;
    font-family: sans-serif;
}

/* == Start Game Button & 404 Button == */

.btn-game {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-start {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFD70085;
    color: #11147a;
    border: none;
    border-radius: 20px;
    padding: 0.6rem;
    width: 12rem;
    margin-bottom: 1.2rem;
    font-family: "Lugrasimo", serif;
    font-size: small;
    transition: transform 0.2s ease, box-shadow 0.5s ease;
    outline: none;
    cursor: pointer;
}

.game-start:hover {
    transform: scale(1.05);
    background-color: #FFD700;
    box-shadow: 0 0 10px rgba(244, 216, 57, 0.7);
    text-shadow: 0 0 5px rgba(22, 34, 44, 0.3);
}

.game-start:focus {
    outline: 2px solid rgb(28, 72, 110);
    background-color: #FFD700;
    box-shadow: 0 0 10px rgba(244, 216, 57, 0.7);
    text-shadow: 0 0 5px rgba(22, 34, 44, 0.3);
}
/* == Restart Quiz Button == */
/* == Modal == */
/* == Variables == */
/* == Sounds == */
/* == Media Queries == */