/* Google Fonts import*/
@import url(https://fonts.googleapis.com/css2?family=Lugrasimo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap);

/* == General == */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, h1, h2, h3 {
    font-family: "Noto Sans", sans-serif;
}

/* == Header == */

header {
    width: 100%;
    background-color: #00000010;
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.nav-item a {
    padding: 0.5rem;
    margin-left: 0.7rem;
    font-family: "Noto Sans", sans-serif;
    color: #FFD700;
    font-size: x-large;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #C0C0C0;
    border-radius: 10px;
    outline: 2px solid #C0C0C0;
    outline-offset: 2px;
}

.logo {
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: auto;
    border: none;
    border-radius: 50%;
    margin-right: 3rem;
}

/* == Backgrounds == */

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    background:
        url('../images/faded-background.webp') center center / cover no-repeat,
        rgba(0, 0, 0, 0.6); /* Solid color underlay */
    min-height: 100vh;
    position: relative;
    font-size: 18px;
}

/* == Layout == */

h1 {
    text-align: center;
    background: #000000;
    padding: 3px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    display: block;
}

a {
    text-decoration: none; /* Remove underline */
}

main {
    flex-grow: 1;
    overflow: hidden;
}

.intro-text {
    background: #000000;
    color: white;
    font-size:  0.75em;
}

#container {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1.30svh;
    right: 0%;
}

/* == Footer == */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    color: white;
    padding: 0.5rem 1rem;
    background-color: #00000065;
    border-top: 1px solid #c0c0c080;
    padding-top: 0.5rem;
    margin-top: 3rem;
    box-shadow: 0 -5px 10px #c0c0c070;
}

/* == Home & Quiz == */

.welcome-hidden {
    display: none;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
}

.welcome-image {
    width: 80%;
    height: auto;
    max-width: 100%;
}

.intro-container {
    background-color: #000000;
}

/* == Game Area == */

#game-area {
    color :#fff;
    align-content: center;
    flex-direction: column;
    margin: 1.5rem auto;
}

#game-area div {
    text-align: center;
}

#game-area h2 {
    color: white;
    background-color: #000000;
    padding: 10px;
    font-size: 1em;
}

.intro-text {
    background-color: #000000;
    font-family:"Noto sans" sans-serif;
}

/* == Start Game Button & 404 Button == */

.btn-game {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-start {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFD700;
    color: #11147a;
    border: none;
    border-radius: 20px;
    padding: 0.6rem;
    width: 16rem;
    height: 3rem;
    margin-bottom: 1.2rem;
    font-family: "Lugrasimo", serif;
    font-size: large;
    font-weight: 600;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    outline: none;
    cursor: pointer;
    position: relative;
}

.game-icon-start {
    display: none;
    position: absolute;
    width: 2rem;
}

/* Initially show the text */
.game-start .game-text {
    display: inline-block;
}

.game-start:hover .game-icon-start {
    display: block;
}

.game-start:hover .game-text {
    display: none;
}

.game-start:hover {
    transform: scale(1.05);
    background-color: #dde83a;
    box-shadow: 0 0 15px #c0c0c090;
    text-shadow: 0 0 3px rgba(22, 34, 44, 0.2);
}

.game-start:focus {
    outline: 2px solid rgb(28, 72, 110);
    background-color: #dde83a;
    box-shadow: 0 0 15px #c0c0c090;
    text-shadow: 0 0 3px rgba(22, 34, 44, 0.2);
}

/* == Instrument quiz == */
/* Container for the quiz options */
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: #fff;
}

.quiz-container h1 {
    margin: 20px auto;
    background: none;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.play-audio {
    background-color: transparent;
    border: none;
}

.play-audio-btn {
    color: #c0c0c0;
    background-color: #FFD700;
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    margin: 1rem;
    transition: transform 0.2s ease box-shadow 0.2s ease text-shadow 0.2s ease;
}

.play-audio-btn:hover {
    transform: scale(1.10);
    box-shadow: 0 0 5px 2px #ffffff;
    background-color: #c0c0c0;
    text-shadow: 0 0 1px #fff;
    color: #11147a;
}

/* Hide the default radio button */
.options-container input[type="radio"] {
    display: none;
}

/*Option Buttons*/
.option-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFD700;
        color: #11147a;
        border: none;
        border-radius: 20px;
        padding: 0.6rem;
        width: 30rem;
        height: 3rem;
        margin-bottom: 1.2rem;
        font-family: "Lugrasimo", serif;
        font-size: large;
        font-weight: 600;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        outline: none;
        cursor: pointer;
        position: relative;
}

/* Next button styling (matching game-start) */
.next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c0c0c0;
    color: black;
    border: 1px solid #000000;
    font-family: "noto sans", sans-serif;
    font-size: large;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding: 0.5rem;
    width: 15rem;
    height: 3rem;
    z-index: 1;
    position: relative;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0 0 15px #ffd900f8;
    border-radius: 20px;
}

.next-btn:hover {
    transform: scale(1.05);
    background-color: #dde83a;
    box-shadow: 0 0 15px #c0c0c090;
    text-shadow: 0 0 3px rgba(22, 34, 44, 0.2);
}

.next-btn:focus {
    outline: 2px solid rgb(28, 72, 110);
    background-color: #dde83a;
    box-shadow: 0 0 15px #c0c0c0bc;
    text-shadow: 0 0 3px rgba(22, 34, 44, 0.2);
}

/* When the radio button is checked, change the label's background and text color */
.options-container input[type="radio"]:checked + label {
    background-color: #000000;
    color: #ffffff;
}

/* Add a hover effect to the labels */
.options-container label:hover {
    background-color: #f0f0f0;
}

/* Animation on click */
.options-container label:active {
    transform: scale(0.98);
}

/* Result section styling */
.result {
    display: none;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

/* Feedback message */
.feedback {
    min-height: 2rem; /* Reserve space for feedback, but don't let it grow */
    margin: 1rem 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2.5rem;
}

/* Replay Options*/
.replay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

/* == Restart Quiz Button == */

/* Team Page */
.team-intro {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #D8A409;
    margin: 20px auto;
    padding: 0 10px;
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1248px;
    margin: 0 auto 120px;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 2% 20px;
    color: #D8A409;
    border: solid 1px #EEE5E9;
    border-radius: 10%;
    margin: 5px;
}

.team-card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    align-self: center;
}

.team-card h3 {
    margin-bottom: 20px;
    text-align: center;
}

.team-card a {
    color: #EEE5E9;
    font-family: "Noto Sans", sans-serif;
}

.team-card a:hover {
    font-weight: 600;
}

.team-card i {
    font-size: 1.3em;
    margin-right: 10px;
}

.team-card iframe {
    margin-top: 10px;
}

/* == Media Queries == */

@media screen and (max-width: 768px) {
    .nav-bar {
        width: 80%;
        padding-top: 0.2rem;
    }
    
    .nav-item a {
        margin-left: 0;
    }
    
    .welcome-image {
        margin-top: 0;
    }

    .btn-game {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1020px) {
    .welcome-image {
        width: 50%;
        padding: 1rem;
    }

    .btn-game {
        margin-top: 1rem;
    }
}